

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  color: #222;
  font-weight: 400;
}

p{
  text-decoration: line-through;
  color: #b61010;
  font-size: 1.8rem;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  height: 8.5rem;
  line-height: 6.5rem;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.wrapper .nav-list {
  display: inline-flex;
}

.nav-list a {
  color: #222;
  padding: 0.9rem 1.5rem;
  border-radius: 0.2rem;
  transition: all 300ms ease;
}

.nav-list li a:hover {
  color: #29831b;
}

.nav-list li:hover .mega-box {
  opacity: 1;
  visibility: visible;
  top: 6.5rem;
}

.mega-box {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8.5rem;
  left: 0;
  width: 100%;
  padding: 0 3rem;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.mega-box .content {
  padding: 2.5rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mega-box .content .row {
  width: calc(25% - 3rem);
  line-height: 4.5rem;
}

.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row .mega-links {
  border-left: 1px solid rgba(255, 255, 255, 0.09);
  margin-left: -4rem;
}

.content .row li {
  padding: 0 2rem;
}

.content .row li a {
  padding: 0 2rem;
  display: block;
  font-size: 1.5rem;
  color: #828282;
}

.content .row li a:hover {
  color: #29831b;
}

.nav-list input {
  display: none;
}

.wrapper .btn {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.nav-list .icons span {
  display: inline-block;
  margin: 0.5rem 1rem 0 0;
  position: relative;
}

.nav-list .icons .count {
  justify-content: center;
  position: absolute;
  top: 0rem;
  right: -0.8rem;
  background-color: #29831b;
  height: 0.8rem;
  padding: 0.5rem;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
}



/* Hero */
.hero {
  height: calc(100vh - 6.5rem);
  background-color: #29831b;
  position: relative;
  overflow: hidden;
}

.hero .right {
  position: absolute;
  right: -7%;
  bottom: -1%;
}

.hero .left {
  color: #fff;
  position: absolute;
  left: 7%;
  top: 40%;
}

.hero .left h1 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.hero .left small {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.hero .left a {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  border: 2px solid #fff;
  padding: 0.7rem 1.5rem;
  margin-top: 1rem;
  transition: all 300ms ease-out;
}

.hero .left a:hover {
  color: #29831b;
  background-color: #fff;
}

/* PROMOTION */
.section {
  padding: 10rem 0 5rem 0;
}

.section .title {
  text-align: center;
  margin-bottom: 5rem;
}

.promotion-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.promotion-item {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.promotion-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 500ms ease-in-out;
}

.promotion-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 3;
}

.promotion-content h3 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5rem;
  padding: 0.7rem 1.4rem;
  font-size: 1.7rem;
  font-weight: inherit;
}

.promotion-content a:hover {
  color: #29831b;
}

.promotion-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}

.promotion-item:hover::after {
  visibility: visible;
  opacity: 1;
}

/* PRODUTOS */
.section .product-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.product .img-container {
  position: relative;
  cursor: pointer;
}

.product .img-container img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
}

.product .bottom {
  padding: 1rem;
  text-align: center;
}

.product .bottom span {
  color: #29831b;
  font-size: 1.8rem;
}

.product .addCart {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: #fff;
  border-radius: 90%;
  padding: 1.3rem 1.6rem;
  transition: all 300ms ease-in-out;
}

.product .addCart:hover {
  background-color: #29831b;
  color: #fff;
}

.product .side-icons {
  position: absolute;
  right: 0;
  top: 30%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.product .side-icons span {
  font-size: 1.4rem;
  background-color: #fff;
  margin: 0.3rem;
  padding: 1rem 1.3rem;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.product .side-icons span:hover {
  background-color: #29831b;
  color: #fff;
}



/* FOOTER */

.footer {
  background-color: #222;
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #fff;
}

.footer-center a:link {
  display: block;
  color: #f1f1f1;
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: #29831b;
}

.footer .payment-methods {
  margin-top: 2rem;
}
